.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background: #3498db;
  position: relative;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: white;
  font-size: 14px;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:hover {
  transform: scale(1.05)
}
