.table-box {
  width: 800px;
  margin: 20px auto;
}

.list {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.table-header {
  height: 50px;
}

.table-line {
  height: 40px;
  cursor: pointer;
}

.table-line td,
.table-header th {
  border-bottom: 1px solid #f1efef;
}

@media(max-width: 820px) {
  .table-box {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .table-box {
    width: 100%;
    overflow-x: scroll;
  }
  .list {
    width: 500px;
  }
}